


<div class="header">
    <div class="name">
        <h1>Edison</h1>
        <h2>Gómez José</h2>  
    </div>
    <div class="descripcion">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam hendrerit orci vel venenatis imperdiet. Nam maximus orci vitae orci dictum, nec feugiat ante egestas.
        </p>
    </div>
    <div class="sub-title">
        <hr />
        <h3>Front End Developer - Graphic Design - Ilustrator</h3>
        <hr />
    </div>
</div>