
<div class="info">
    <img class="foto" src="~/img/avatar.png"/>
    <h3>Otro Titulo</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor. </p>
    <h3>Educación</h3>
    <ul>
        <li><b>Básica</b> --------- IP Loyola</li>
        <li><b>Bachiller</b> ------ IP Loyola</li>
        <li><b>Universitaria</b> -- UASD</li>
    </ul>
    <h3>Cursos y Talleres</h3>
    <ul>
        <li><b>Diseño Gráfico</b> --------- CENTU</li>
        <li><b>Diseño Web</b> ------ FREECODECAMP</li>
        <li><b>JQuery</b> -- SDQ</li>
        <li><b>Java Script</b> -- UDEMY</li>
        <li><b>React</b> -- UDEMY</li>
        <li><b>Asp.Net</b> -- UDEMY</li>
    </ul>
</div>