
<div class="skills">
    <div class="tecnologys">
        <h3>Tecnologías</h3>

        <div class="tecnology-item">
            <img width="30px" src="~/img/html.png" />
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>
        </div>

        <div class="tecnology-item">
            <img width="30px" src="~/img/css.png" />
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
            </div>
        </div>

        <div class="tecnology-item">
            <img width="30px" src="~/img/js.png" />
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">35%</div>
            </div>
        </div>

        <div class="tecnology-item">
            <img width="30px" src="~/img/react.png" />
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
            </div>
        </div>

        <div class="tecnology-item">
            <img width="30px" src="~/img/asp.png" />
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>
        </div>
    </div>

    <h3>Diseño Gráfico</h3>
    
    <div class="diseno-icon">
        <img width="30%" src="~/img/ps.png" />
        <img width="30%" src="~/img/ai.png" />
        <img width="30%" src="~/img/id.png" />
        <img width="30%" src="~/img/asp.png" />
        <img width="30%" src="~/img/asp.png" />
        <img width="30%" src="~/img/asp.png" />
    </div>
    
</div>